.layout--checkout {
    h1 {
        @extend h2;

        @extend .font--kp;
    }

    .floatRight {
        float: right;
    }
}

#v65-cartTable {
    td {
        @extend .font--sans;
    }

    margin: 0 0 2em 0;
    border-bottom: 1px solid transparentize($black, 0.8);

    th {
        padding: 1em 0;
        background-color: $black;
        border: 1px solid $black;

        @extend .font--sans;

        color: white;
    }

    td {
        border-left: 1px solid transparentize($black, 0.8);
        border-right: 1px solid transparentize($black, 0.8);
        text-align: center;
        padding: 0.5em 0;
        vertical-align: middle;
    }

    tr {
        &:nth-of-type(odd) {
            background: rgba(41, 31, 39, 0.09);
        }

        &:nth-of-type(even) {
            background: transparent;
        }
    }

    // #v65-cartSubtotal,
    // .v65-cartTax {

    //     &#v65-cartShippingStates {
    //         background: transparent;
    //     }
    // }
}

table {
    .alert {
        background-color: map-get($wine, thebull);
        border: 1px solid map-get($wine, thebull);
        color: white;
    }

    select {
        padding: 0 0.66em;
    }
}

.v65-cartItemAmount {
    br {
        display: none !important;
    }

    .v65-qtyField {
        width: 30px;
        text-align: center;
        display: inline-block;
        height: 30px;
        margin: 0;
        box-sizing: border-box;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: -2px;
    }

    .modalBtn {
        display: inline-block;
        height: 30px;
        margin: 0;
        margin-left: -3px;
        padding: 0 1.5em;
        background-color: $black;
        color: white;
    }
}

.v65-cartItemDescription-sku {
    display: none;
}

.linkAltBtn,
.largeLinkBtn {
    display: inline-block;
    background-color: $black;
    color: white;

    @extend .font--sans;

    margin-right: .2em;
    padding: 0.5em 1.5em;
    margin-top: 1em;
}

#v65-checkoutCartSummaryWrapper {
    float: right;

    @extend .grid--third;

    h4 {
        @extend .font--kp;
    }
}

#v65-checkoutCartSummaryMini {
    table {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;

        td {
            border: 1px solid transparentize($black, 0.8);
            padding: 0.5em;
            vertical-align: middle;
        }
    }
}

#v65-billBirthMonth,
#v65-billBirthDay,
#v65-billBirthYear {
    width: 20%;
    display: inline;
    margin-right: 20px;
}

#v65-orderSummaryWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.2;

    @extend .font--sans;

    h4 {
        @extend .font--kp;
    }

    #v65-billingSummary, #v65-shippingSummary {
        @extend .grid--one;

        @extend .grid--sm-half;
    }
}