<footer class="text--center bg--red-dark">
	<section class="footer--links max-wrap flex flex-wrap spacing--gutter justify--center font--medium bg--bull spacing--vert-2 spacing--dsk-vert-4">
		<a class="color--brown-light" href="">Dial Derek</a>
		<span class="color--brown-light spacing--horiz-1">|</span>
		<a class="color--brown-light" href="/Meet-Our-Family">Meet Our Family</a>
		<span class="color--brown-light spacing--horiz-1">|</span>
		<a class="color--brown-light" href="/Shop-Our-Wines">Shop Our Wines</a>
		<span class="color--brown-light spacing--horiz-1">|</span>
		<a class="color--brown-light" href="/The-Spanish-Life">The Spanish Life</a>
		<span class="color--brown-light spacing--horiz-1">|</span>
		<a class="color--brown-light" href="/Cart">Cart</a>
		<span class="color--brown-light spacing--horiz-1">|</span>
		<div class="block--social-wrap flex justify--between">
			<a href=""><i class="color--brown-light icon-social--instagram" data-grunticon-embed></i></a>
			<a href=""><i class="color--brown-light icon-social--facebook" data-grunticon-embed></i></a>
			<a href=""><i class="color--brown-light icon-social--twitter" data-grunticon-embed></i></a>
		</div>
	</section>
	<section class="sub-footer bg--black color--brown-light spacing--vert-1 font--medium ">
		&copy; 2016 Irwin Family Vineyards, Napa, CA
		<span class="color--brown-light spacing--dsk-horiz-1">|</span>
		<a class="color--brown-light" href="">Policies</a>
		<span class="color--brown-light spacing--dsk-horiz-1">|</span>
		<a class="color--brown-light" href="">Website By Honey Agency</a>
	</section>
</footer>

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="/app/app.min.js"></script>
