<header id="header" class="spacing--gutter">
<section class="section--header-wrap flex flex-wrap align--center">
	<a class="logo--link mobile--hide" href="{{site.url}}/"><i class="{% if page.bg == 'maroon' %}icon-logo--filled{%else%}icon-logo{% endif %}" data-grunticon-embed></i></a>
	<nav>
		<ul class="mar-no font--medium">
			<li class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}"><a href="/meet-our-family.html" class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}" title="Meet Our Family">Meet Our Family</a></li>
			<li class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}"><a href="/wine.html" class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}" title="Shop Our Wines">Shop Our Wines</a></li>
			<li class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}"><a href="/the-spanish-life.html" class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}" title="The Spanish Life">The Spanish Life</a></li>
			<li class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %}"><a href="" class="{% if page.bg == 'maroon' %}color--brown-light{%else%}color--black{% endif %} mobile--hide" title="Cart">Cart</a></li>
		</ul>
	</nav>
	<span class="trigger--nav-wrap dsk--hide">
		<label class="trigger--nav">Menu</label>
	</span>
	<a href="/" class="icon-bison-wrap dsk--hide"><i class="icon-bison dsk--hide" data-grunticon-embed></i></a>
	<a class="mobile--cart dsk--hide" href="/Cart"><i class="icon-cart dsk--hide" data-grunticon-embed></i></a>
	</section>
	<hr class="double grid--one">
</header>