<header id="header" class="spacing--gutter">
<section class="section--header-wrap flex flex-wrap align--center">
	<a class="logo--link mobile--hide" href="{{site.url}}"><i class="icon-logo" data-grunticon-embed></i></a>
	<nav>
		<ul class="mar-no font--medium">
			<li><a href="/meet-our-family.html" class="color--black" title="Meet Our Family">Meet Our Family</a></li>
			<li><a href="/wine.html" class="color--black" title="Shop Our Wines">Shop Our Wines</a></li>
			<li><a href="/wine-club.html" class="color--black" title="Join Our Wine Club">Join Our Wine Club</a></li>
			<li><a href="/the-spanish-life.html" class="color--black" title="The Spanish Life">The Spanish Life</a></li>
			<li><a href="" class="color--black mobile--hide" title="Cart">Cart <i class="icon-cart" data-grunticon-embed></i></a></li>
		</ul>
	</nav>
	<span class="trigger--nav-wrap dsk--hide">
		<label class="trigger--nav">Menu</label>
	</span>
	<i class="icon-bison dsk--hide" data-grunticon-embed></i>
	<i class="icon-cart dsk--hide" data-grunticon-embed></i>
	</section>
	<hr class="double grid--one">
</header>