<section class="bg--brown spacing--gutter text--center max-wrap spacing--vert-2 spacing--dsk-vert-4 font--large">
	<h2 class="font--condensed">A Taste of Spain via California</h2>
	<div class="grid--sm-three-fourths margin--center font--sans">
		From my early childhood in a small town outside of Madrid, my life has always had a prevailing Spanish influence, and engrained in my heart are memories of Spain's white washed patios, long siestas, and memorable meals. I focus on honoring traditional Spanish wines by giving them a new life here in the California foothills. Que approveche!
	</div>
	<div class="spacing--vert-1">
		<i class="icon-signature" data-grunticon-embed></i>
	</div>
	<a class="bg--black button font--large color--brown-light" href="">Meet The Family</a>
</section>