<section class="section--instagram flex flex-wrap spacing--gutter justify--between align--items-center color--brown-light spacing--vert-2 spacing--dsk-vert-4 bg--black">
	<div class="grid--one grid--sm-half text--center spacing--vert-1 spacing--horiz-1">
		<h2 class="font--condensed">Traversing The<br class="hidden--mob"><span class="hidden--dsk"> </span>Sierra Foothils</h2>
		<p class="font--large font--sans">Our winemaker, Derek Irwin is on a mission to expose the many amazing experiences found within the sierra foothils</p>
		<a href="" class="button outline--red">Follow Derek on Instagram</a>
	</div>
	<div class="grid--one grid--sm-half">
		<div id="instafeed"></div>
	</div>
</section>