<section class="flex flex-wrap justify--between margin--gutter">
	<div class="grid--one grid--sm-half text--center">
		<img src="/assets/images/images/shrimp.jpg" alt="">
		<span class="font--large">Learn about the</span><br>
		<h2 class="font--kp text--uppercase font--bold"><a href="/the-spanish-life.html" class="color--black">Spanish Life</a></h2>
		<hr class="double">
	</div>
	<div class="grid--one grid--sm-half text--center">
		<img src="/assets/images/images/family.jpg" alt="">
		<span class="font--large">Meet</span><br>
		<h2 class="font--kp text--uppercase font--bold"><a href="/meet-our-family.html" class="color--black">Our Family</a></h2>
		<hr class="double">
	</div>
</section>