<section class="section--home-bullbruin flex flex--wrap align--items-center justify--between bg--black color--brown-light spacing--gutter spacing--vert-2">
	<div class="block--home-wine flex flex--wrap justify--between align--items-center grid--one grid--sm-half">
		<div class="grid--two-fifths grid--xs-third grid--md-fourth grid--lg-fifth margin--center "><img class="" src="/assets/images/images/Bull2016.png" /></div>
		<div class="grid--one grid--xs-two-thirds grid--md-three-fourths">
			<h2 class="font--condensed">The Bull</h2>
			<div class="font--sans font--large"><p>A Tempranillo blend, The Bull exudes flavors and aromas of blackberries, pomegranate, cedar, black currant, violets, mocha and earth. Good acidity, moderate tannins and a lingering long finish make this an excellent food pairing.</p></div>
			<a href="" class="button outline--red">Buy The Bull</a>
		</div>
	</div>
	<div class="block--home-wine flex flex--wrap justify--between align--items-center grid--one grid--sm-half">
		<div class="grid--two-fifths grid--xs-third margin--center grid--md-fourth grid--lg-fifth"><img class="" src="/assets/images/images/Bruin2016.png" /></div>
		<div class="grid--one grid--xs-two-thirds grid--md-three-fourths">
			<h2 class="font--condensed">The Bruin</h2>
			<div class="font--sans font--large"><p>A Barbera blend, The Bruin exudes flavors and aromas of black cherries, raspberries, red currants, anise, mocha and earth. Bright acidity, moderate tannins and a lingering long finish make this an excellent food pairing.</p></div>
			<a href="" class="button outline--red">Buy The Bruin</a>
		</div>
	</div>
</section>