<section class="bg--brown spacing--gutter text--center spacing--vert-2 spacing--dsk-vert-4">
	<h2 class="font--condensed">The Sierra Wine Frontier</h2>
	<div class="grid--sm-three-fifths margin--center font--sans font--large">
		We are proud to call the California Sierra Foothills the home of our wines for over 10 years. With the foothills' rich soils and Mediterranean climate paired with the right varietals, great wines can happen.
	</div>

	<a class="bg--black button color--brown-light" href="">Meet The Family</a>
</section>