<section class="section--home-header header cover flex flex-wrap justify--center align--center flex--column color--brown-light">
	<div class="font--sans text--uppercase font--larger">Celebrating</div>
	<h1>The Bull &<br class="hidden--dsk"><span class="hidden--mob"> </span>the Bruin</h1>
	<a href="" class="bg--black button color--brown-light">Shop Wines</a>
	<div class="block--images flex flex--wrap justify--between grid--one align--items-start">
		<img class="grid--two-fifths" src="assets/images/images/home--bull.jpg" >
		<img class="grid--two-fifths" src="assets/images/images/home--bruin.jpg" >
	</div>
</section>