// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$brown: (
	light:		#DECFB4,
	faded: 		#E7DECE,
	main: 		#7F6022,
	dark: 		#574738,
);

$red: (
	main: 		#5D0001,
	dark: 		#421F24,
);

$green: (
	main: 		#8B802D,
	dark: 		#434B3A,
	faded: 		#A59C89,
);
$wine: (
	verdejo: 		#785e2e,
	themix:			#dd6c28,
	thebull: 		#ae3427,
	temparnillo: 	#5f2429,
);

$black: #291F27;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
);

