#instafeed {
    @extend .flex;

    @extend .flex-wrap;

    @extend .justify--between;
}

body.home {
    header {
        hr {
            color: #000;
        }

        .trigger--nav {
            color: map-get($brown, faded);
        }

        .icon-cart {
            svg {
                path {
                    fill: map-get($brown, faded);
                }
            }
        }
    }
}