.button {
    font-size: 1em;
    line-height: 1.2;
    padding: 1em 0.5em;
    display: inline-block;

    @include media($screen-md) {
        padding: 0.7em 1em;
        font-size: 1.5rem;
        // letter-spacing: 1px;
    }


    &.fill {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    &.border {
        border: 1px solid transparentize($black, 0.2);
    }

    &.faded {
        opacity: .3;
    }

    &.active {
        background-color: $black;
        color: white;
    }

    &.inline {
        display: inline;
    }

    &.smaller {
        padding: 0.5em 0.8em;
    }

    &.outline--red {
        border: 1px solid map-get($red, maroon);
    }
}

.largeBtn {
    background-color: $black;
    color: white;

    @extend .font--sans;

    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;

    @extend .button;

    font-size: 1em;
}

.modalBtn {
    background-color: $black;
    color: white;
}