.button {
    font-size: 1em !important;
    line-height: 1.2 !important;
    padding: 1em 0.5em !important;

    @include media($screen-md) {
        padding: 0.5em 1em;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }


    &.fill {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    &.border {
        border: 1px solid transparentize($black, 0.2);
    }

    &.faded {
        opacity: .3;
    }

    &.active {
        background-color: $black;
        color: white;
    }
}