.color--white {
    color: white;

    svg {
        path {
            fill: white;
        }
    }
}

.color--black {
    color: $black;

    svg {
        path {
            fill: $black;
        }
    }
}

.color--brown {
    color: map-get($brown, main);

    svg {
        path {
            fill: map-get($brown, main);
        }
    }
}
.color--brown-light {
    color: map-get($brown, light);

    svg {
        path {
            fill: map-get($brown, light);
        }
    }
}
.color--red-dark {
    color: map-get($red, dark);
}
.color--maroon {
    color: map-get($red, maroon);
}