.icon-cart {
    &.dsk--hide {
        height: 14px;
        width: 14px;
    }
}

.icon-bison {
    height: 30px;
    width: 30px;
}

.icon-social--instagram {
    svg {
        height: 20px;
        width: 20px;
    }
}