.mar-no {
    margin: 0 !important;
}

.margin--gutter {
    margin: 0 .7em;

    @include media($screen-lg) {
        margin: 0 3em;
    }
}

.margin--bot-1 {
    margin-bottom: 1em;
}

.margin--bot-2 {
margin-bottom: 1em;
	
    @include media($screen-sm) {
        margin-bottom: 2em;
    }
}